@import "normalize";

$primaryDarkBlue: #1c3c50;
$primaryRed: #ff4148;
$primaryGrey: #d7dbdc;
$secondaryBlue: #1cbddd;
$white: #ffffff;

body {
  margin-bottom: 100px;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $primaryGrey;
  }
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  li {
    display: inline-block;
  }
}