.feedbacks {

}

.feedback {
  margin: 20px 0;
  padding: 10px;
  border: solid #999 1px;
  border-radius: 5px;

  &-example {
    background-color: #fff9d4;
  }
}

.btn-preview {
  margin-right: 5px;
}

.feedback-accepted {
  color: #01a252;
}

.feedback-rejected {
  color: #9d1e15;
}

.feedback-admined {
  font-size: 10px;
  color: #888;
}